/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

body {
	color: white;
	background-color: #5aa001;
	font-family: Verdana, sans-serif;
}

a {
	color: #fff !important;
}

figure {
	margin-bottom: 3px;
}

h2 {
	text-transform: uppercase;
}

a.nb {
	color: #777 !important;
}

q:before {
    content: "\201c";
}

q:after {
    content: "\201d";
}

q q:before {
    content: "\2018";
}

q q:after {
    content: "\2019";
}

.blue {
	color: navy;
}

.facebook {
	background-color: white;
	color: #395a9c;
}

.yelp {
	background-color: white;
	color: #c51200;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
	body {
		font-size: 14pt;
	}
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

@media (print) {
	body {
		color: black;
		background-color: white;
	}
	.navbar {
		display: none;
	}
}
